/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

    Created on : 25/06/2014, 15:54:25
    Author     : thiago
*/

/*
//CSS DO TEMA Black and Blue
*/
/*
.unSelectedButton{
    //-fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #414141 100%);
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #414141 100%);
    -fx-text-fill:#fefefe;

}

.bordePane-clienteof .label{
    -fx-text-fill: #00B5F3;
}


.bordePane-clienteof{
    -fx-background-color: #414141;  

}

.bordePane-cliente .label{
    -fx-text-fill: #00B5F3;
}

.bordePane-cliente{
    -fx-background-color: #414141;  
    //-fx-text-fill: #FFFFFF;
}

.bordePane{
    -fx-background-color: #414141;  
    -fx-text-fill: #FFFFFF;
}

.text-field{
    -fx-background-color: #5E5E5E;  
    -fx-text-fill: #FFFFFF;
}

.textFildHead{
    -fx-text-fill: #DD930B;
}

.table{

    -fx-background-color: 
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;

    -fx-base: #414141;
    -fx-control-inner-background: #414141;
    -fx-background-color: #5E5E5E;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;

}

.table-view  {    
    -fx-background-color: 
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;

    -fx-base: #414141;
    -fx-control-inner-background: #414141;
    -fx-background-color: #5E5E5E;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;

}

.table-view .column-header .label {
    -fx-text-fill: #00B5F3;
    //-fx-text-fill: white;
    -fx-font-weight: bold;

}

.headLabel{
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    //-fx-text-fill: #FFFFFF;
    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #0093C5 0%, #00BEFF 100%);
}

.button {
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #535353 100%);
    -fx-border-color: #828282 #828282 #828282 #828282;
    -fx-text-fill:#fefefe;

    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #0093C5 0%, #00BEFF 100%);
    -fx-font-size: 14 px;
    -fx-font-weight: bold;

}

.button:hover{
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #828282 100%);
}

.selectedButtom{
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #414141 100%);
    //-fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #F4F4F4 100%);
    -fx-font-size: 13 px;
    -fx-font-weight: bold;
    -fx-text-fill:#fefefe;
    -fx-padding: 15 0 15 0;
    -fx-background-radius: 8,7,6;
    // -fx-border-color: rgb(49, 89, 23);
    -fx-border-color: #F4F4F4 #414141 #F4F4F4 #F4F4F4;
    -fx-border-radius: 15 0 0 15;
    -fx-background-radius: 10 0 0 10;
    //-fx-border-insets: 1;
    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #0093C5 0%, #00BEFF 100%);
    -fx-font-size: 14 px;
    -fx-font-weight: bold;

}

.leftVBox{
    -fx-border-color: #414141 #828282 #828282 #414141;
    //-fx-border-radius: 15 0 0 15;
}


.tab-pane .tab-label{

    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #0093C5 0%, #00BEFF 100%);
    -fx-font-size: 13 px;
    -fx-font-weight: bold;
}


.tab-pane .label{


    -fx-font-size: 13 px;
    -fx-font-weight: bold;

}

.grid-pane .label{

    -fx-text-fill:white;
    -fx-font-size: 12 px;
    -fx-font-weight: bold;
}

.grid-pane .choice-box .label{
    -fx-text-fill: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #535353 100%);

}

.grid-pane .choice-box .text-field{
    -fx-text-fill: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #535353 100%);

}

.datepicket .label{
    -fx-text-fill: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #535353 100%);
}

.titulo{

    -fx-text-fill:#FFFFFF;
    -fx-font-size: 12 px;
    -fx-font-weight: bold;
}

.report .label{

    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #0093C5 0%, #00BEFF 100%);
    -fx-font-size: 13 px;
    -fx-font-weight: bold;
}

.report .label{

    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #0093C5 0%, #00BEFF 100%);
    -fx-font-size: 13 px;
    -fx-font-weight: bold;
}
*/
//FIM CSS PRETO



//TEMA NORMAL

/*

.button {
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, darkgrey 0%, white 100%);
    -fx-border-color: #F4F4F4 #919191 #F4F4F4 #F4F4F4;
}
.button:hover{
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, darkgrey 0%, #F1F4F3 100%);
}
.selectedButtom{
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #F4F4F4 0%, #F4F4F4 100%);
    -fx-font-size: 13 px;
    -fx-font-weight: bold;
    -fx-padding: 15 0 15 0;
    -fx-background-radius: 8,7,6;
    // -fx-border-color: rgb(49, 89, 23);
    -fx-border-color: #919191 #F4F4F4 #919191 #919191;
    -fx-border-radius: 15 0 0 15;
    -fx-background-radius: 10 0 0 10;
    //-fx-border-insets: 1;

}

.unSelectedButton{
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, darkgrey 0%, white 100%);

}
.leftVBox{
    -fx-border-color: #F4F4F4 #919191 #F4F4F4 #F4F4F4;
    -fx-border-radius: 15 0 0 15;

}
*/


//TEMA GOLD #DFAE59

/*
.unSelectedButton{
    //-fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #414141 100%);
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #414141 100%);
    -fx-text-fill:#fefefe;

}

.bordePane-clienteof .label{
    -fx-text-fill: #DFAE59;
}


.bordePane-clienteof{
    -fx-background-color: #414141;  

}

.bordePane-cliente .label{
    -fx-text-fill: #DFAE59;
}

.bordePane-cliente{
    -fx-background-color: #414141;  
    //-fx-text-fill: #FFFFFF;
}

.bordePane{
    -fx-background-color: #414141;  
    -fx-text-fill: #FFFFFF;
}

.text-field{
    -fx-background-color: #5E5E5E;  
    -fx-text-fill: #FFFFFF;
}

.textFildHead{
    -fx-text-fill: #DFAE59;
}

.table{

    -fx-background-color: 
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;

    -fx-base: #414141;
    -fx-control-inner-background: #414141;
    -fx-background-color: #5E5E5E;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;

}

.table-view  {    
    -fx-background-color: 
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;

    -fx-base: #414141;
    -fx-control-inner-background: #414141;
    -fx-background-color: #5E5E5E;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;

}

.table-view .column-header .label {
    -fx-text-fill: #DFAE59;
    //-fx-text-fill: white;
    -fx-font-weight: bold;

}

.headLabel{
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    //-fx-text-fill: #FFFFFF;
    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #DFAE59 0%, #FFC766 100%);
}

.button {
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #535353 100%);
    -fx-border-color: #828282 #828282 #828282 #828282;
    -fx-text-fill:#fefefe;

    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #DFAE59 0%, #FFC766 100%);
    -fx-font-size: 14 px;
    -fx-font-weight: bold;


}
.button:hover{
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #828282 100%);
}
.selectedButtom{
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #414141 100%);
    //-fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #F4F4F4 100%);
    -fx-font-size: 13 px;
    -fx-font-weight: bold;
    -fx-text-fill:#fefefe;
    -fx-padding: 15 0 15 0;
    -fx-background-radius: 8,7,6;
    // -fx-border-color: rgb(49, 89, 23);
    -fx-border-color: #F4F4F4 #414141 #F4F4F4 #F4F4F4;
    -fx-border-radius: 15 0 0 15;
    -fx-background-radius: 10 0 0 10;
    //-fx-border-insets: 1;
    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #DFAE59 0%, #FFC766 100%);
    -fx-font-size: 14 px;
    -fx-font-weight: bold;

}

.leftVBox{
    -fx-border-color: #414141 #828282 #828282 #414141;
    //-fx-border-radius: 15 0 0 15;
}


.tab-pane .tab-label{

    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #DFAE59 0%, #FFC766 100%);
    -fx-font-size: 13 px;
    -fx-font-weight: bold;
}


.tab-pane .label{

    -fx-font-size: 13 px;
    -fx-font-weight: bold;

}

.grid-pane .label{

    -fx-text-fill:white;
    -fx-font-size: 12 px;
    -fx-font-weight: bold;
}

.grid-pane .choice-box .label{
    -fx-text-fill: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #535353 100%);

}

.datepicket .label{
    -fx-text-fill: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #535353 100%);
}

.titulo{

    -fx-text-fill:#FFFFFF;
    -fx-font-size: 12 px;
    -fx-font-weight: bold;
}

.report .label{

    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #DFAE59 0%, #FFC766 100%);
    -fx-font-size: 13 px;
    -fx-font-weight: bold;
}

*/
//Fim tema Gold


/*
//CSS DO TEMA Black and Blue
*/

.unSelectedButton{
    //-fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #414141 100%);
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #414141 100%);
    -fx-text-fill:#fefefe;

}

.bordePane-clienteof .label{
    -fx-text-fill: #FFFFFF;
}


.bordePane-clienteof{
    -fx-background-color: #414141;  

}

.bordePane-cliente .label{
    -fx-text-fill: #FFFFFF;
}

.bordePane-cliente{
    -fx-background-color: #414141;  
    //-fx-text-fill: #FFFFFF;
}

.bordePane{

    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #242424 0%, #AFAFAF 100%);
    //-fx-background-color: #414141;  
    -fx-text-fill: #FFFFFF;
}

.text-field{
    //diferente
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #000000 0%, #414141 100%);
    //-fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #232323 0%, #777777 100%);
    //-fx-background-color: #5E5E5E;  
    -fx-text-fill: #FFFFFF;
}

.textFildHead{
    -fx-text-fill: #DD930B;
}

.table{
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #000000 0%, #414141 100%);
    //  -fx-background-color: 
    //      linear-gradient(#020b02, #3a3a3a),
    //      linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
    //      linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;

    -fx-base: #414141;
    -fx-control-inner-background: #414141;
    -fx-background-color: #5E5E5E;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;

}

.table-view  {    
    /*
    -fx-background-color: 
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    */
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;

    -fx-base: #414141;
    -fx-control-inner-background: #414141;
    //-fx-background-color: #5E5E5E;
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #000000 0%, #414141 100%);
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;

}

.table-view .column-header {
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #000000 0%, #414141 100%);
    //-fx-text-fill: white;
}

.table-view .column-header .label {
    -fx-text-fill: #FFFFFF;
    //-fx-text-fill: white;
    -fx-font-weight: bold;

}

.headLabel{
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    //-fx-text-fill: #FFFFFF;
    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #FFFFFF 0%, #FFFFFF 100%);
}

.button {

    -fx-background-color:transparent;
    //-fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #535353 100%);
    -fx-border-color: #828282 #828282 #828282 #828282;
    -fx-text-fill:#fefefe;

    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #FFFFFF 0%, #FFFFFF 100%);
    -fx-font-size: 14 px;
    -fx-font-weight: bold;

}

.button:hover{
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #828282 100%);
}

.selectedButtom{
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #414141 100%);
    //-fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #F4F4F4 100%);
    -fx-font-size: 13 px;
    -fx-font-weight: bold;
    -fx-text-fill:#fefefe;
    -fx-padding: 15 0 15 0;
    -fx-background-radius: 8,7,6;
    // -fx-border-color: rgb(49, 89, 23);
    -fx-border-color: #F4F4F4 #414141 #F4F4F4 #F4F4F4;
    -fx-border-radius: 15 0 0 15;
    -fx-background-radius: 10 0 0 10;
    //-fx-border-insets: 1;
    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #FFFFFF 0%, #FFFFFF 100%);
    -fx-font-size: 14 px;
    -fx-font-weight: bold;

}

.leftVBox{
    -fx-border-color: #414141 #828282 #828282 #414141;
    //-fx-border-radius: 15 0 0 15;
}

.tab-pane {

    -fx-background-color: transparent;
}


.tab-pane .tab-label{

    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #FFFFFF 0%, #FFFFFF 100%);
    -fx-font-size: 13 px;
    -fx-font-weight: bold;
}


.tab-pane .label{
    -fx-font-size: 13 px;
    -fx-font-weight: bold;

}

.tab-pane .header{
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, #000000 0%, #414141 100%);

}

.grid-pane .label{

    -fx-text-fill:white;
    -fx-font-size: 12 px;
    -fx-font-weight: bold;
}

.grid-pane .choice-box .label{
    -fx-text-fill: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #535353 100%);

}

.grid-pane .choice-box .text-field{
    -fx-text-fill: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #535353 100%);

}

.datepicket .label{
    -fx-text-fill: linear-gradient(from 100% 0% to 100% 100%, #414141 0%, #535353 100%);
}

.titulo{

    -fx-text-fill:#FFFFFF;
    -fx-font-size: 12 px;
    -fx-font-weight: bold;
}

.report .label{

    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #FFFFFF 0%, #FFFFFF 100%);
    -fx-font-size: 13 px;
    -fx-font-weight: bold;
}

.report .label{

    -fx-text-fill:linear-gradient(from 100% 0% to 100% 100%, #FFFFFF 0%, #FFFFFF 100%);
    -fx-font-size: 13 px;
    -fx-font-weight: bold;
}

//FIM CSS PRETO
